

.go{
    display: flex;
}
.we{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;

}
.bv{
    display: flex;
}
.form{
    width: 50%;
    box-sizing: border-box;
    
    margin-top: 2%;
}
.am{
    text-align: end;

}
.prof{
    width: 50%;
    padding: 3%;
}
.we a{
    text-decoration: none;
    padding-right: 20px;

}
.to{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.do{
    width: 400px;
    font-size: xx-large;
}
.an{
    display: flex;
    justify-content: space-between;
    
}
.ss{
    display: flex;
    
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}

.fo{
    width: 80%;
    
    padding: 5%;
    
    margin-right: 3%;
}

.l{
    height: 45px;
    width: 45%;
    box-sizing: border-box;
    margin-bottom: 3%;
    padding-left: 10px;

    /* padding-bottom: 5%; */
}
.o{
    height: 45px;
    margin-left: 10px;
    box-sizing: border-box;
    margin-bottom: 3%;
    padding-left: 10px;

    width: 46.5%;
    /* padding-bottom: 5%; */
}
.v{
    width: 95%;
    height: 45px;
    box-sizing: border-box;
    margin-bottom: 3%;
    padding-left: 10px; 
    /* padding-bottom: 5%; */
}
.e{
    width: 95%;
    height: 45px;
    box-sizing: border-box;
    margin-bottom: 3%;
    padding-left: 10px;

    /* padding-bottom: 5%; */
}
.de{
    width: 96%;
    margin-top: 2%;
    
    background-color: #007bff;
    color: white;
    padding: 4%;
    border-style: none;
    
    
}
.fo{
    background-color: white;     
} 
.he{
    color: black;
}
.rr{
    width: 180px;
    border-radius: 900px;
    margin-top: 30px;
}
.jj{
    width: 180px;
    border-radius: 900px;
    margin-top: 30px;
}
.mm{
    
    text-align: center;
    
}
.ri{
    width: 180px;
    border-radius: 900px;
    margin-top: 30px;
}
.lo{
    width: 40%;
    font-size: 20px;
    /* text-align: center; */
    line-height: 30px;

}
.dd{
    width: 40%;
    font-size: 20px;
    /* text-align: center; */
    line-height: 30px;

}
.ye{
    width: 40%;
    text-align: center;
    margin-left: 31.5%;
    font-size: 20px;
    line-height: 30px;
}
.ee{
    padding: 45%px;
    font-size: 15px;
    
}
.xx{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
    /* padding: 1%; */
}
.xx div{
    width: 30%;
    
    font-size: 15px;
}
span{
    color: rgb(243, 53, 53);
}
.pp{
    margin-left: 35%;
    font-size: 30px;
    
}

.rd{
    color: white;
    background-color: #007bff;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
}
.gg{
    justify-content: space-between;
    margin-top: 70px;
    justify-content: space-around;
    padding-bottom: 100px;
    background-color: #f8f9fa;
    margin-right: 10%;
    margin-left: 10%;
}
.class{
    width: 50px;
    height: 7px;
    border-radius: 0px;
    background-color: #007bff;
    border: none;
    margin-bottom: px; 
    margin-left: 50%;
    margin-top: 5px;

}
.moon{
    
    
}
.vv{
    width: 50px;
    height: 7px;
    border-radius: 0px;
    background-color: #007bff;
    border: none;
    margin-bottom: 30px; 
    margin-left: 43%;

}
.vov{
    width: 50px;
    height: 7px;
    border-radius: 0px;
    background-color: #007bff;
    border: none;
    
    margin-left: 50%;
}
.ref{
    width: 50px;
    height: 7px;
    border-radius: 0px;
    background-color: #007bff;
    border: none;
    
    margin-left: 50%;
}

.come{
    
     margin-left: 20px; 
}
.note{
    width: 50%;

    margin-left: 30%;

}

.kk{

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.cc{
    display: flex;
    padding: 4%;
}
.mn{
    line-height: 30px;

    font-size: 16px;
}   
.glass{
    /* padding-left: 30px; */
    width: 49%;
    padding-left: 20px;
    padding-right: 16px;
}
.stud{
    width: 50%;
    margin-top: 3%;
}

.tt{
     text-align: center; 
}
.ii{
    font-size: 20px;
    text-align: center;
    
}
.nn{
    width: 60%;
    margin-left: 22%;
    /* line-height: 30px; */
}
.aa{
    /* margin-left: 150px ; */
    width: 80%;
    margin-left: 12%;
    /* margin-right: 20%; */

}
.mo{
    color: white;
    background-color: #007bff;
    border-radius: 10px;
    width: 180px;
    border: none;
    height: 40px;
}
.main{
    color: white;
    background-color: #007bff;
    border-radius: 10px;
    width: 180px;
    border: none;
    height: 40px;

}
.ht{
    display: flex;
    justify-content: space-between;
    padding: 4%;
}
.oo{
    width: 100%;
}
.tj{
           /* width: 420px; */
    box-shadow: 3px 3px 2px 2px rgb(236 229 229);
    background-color: white;
    padding: 1%;
    line-height: 30px;
    border-radius: 10px;
    font-size: 100%;
    position: relative;
    right: 16%;
    margin-top: 6%;
    max-width: 25%;
    height: 40%;

}
.zip{
    margin-left: 4%;
}
.left p{
    /* line-height: 30px; */
}
.table{
    background-color:  #f8f9fa;
    /* padding-right: 230px;
    padding-left: 230px;
    padding-top: 40px ;
    padding-bottom: 40px; */
    
}
.chair{
    background-color: #007bff;
    color: white;
    margin: 30px;
    margin-left: 15%;
    
    padding-top: 20px;
    padding-bottom: 20px;
    width: 63%;
    padding-right: 4%;
    padding-left: 4%;
    font-size: 20px;
    display: flex;
    justify-content: space-between; 
    border-radius: 5px;

}
.chair p{
    width: 350px;
}
.sd{
    width: 50px;
    height: 7px;
    border-radius: 0px;
    background-color: #007bff;
    border: none;
    margin-bottom: 50px;
    margin-left: 47.5%;
}
.nut{
    color: #007bff ;
    background-color: white;
    border: 0px;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    margin-top: 20px;
}
.jk{
    text-align: center;
    padding-top: 50px;
}
.orange{
    width: 40%;
    text-align: center;
    margin-left: 33%;
    line-height: 2;
}

.xox{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.ch{
    width: 40%;
    padding-left: 50px;
    line-height: 30px;
}
.chhh{
    width: 60%;
}
.ch p{
    line-height: 30px;
}
.poo{
    margin-top: 20px;
    padding: 2%;
    
}
.yy{
    background-color: #f8f9fa;
    /* padding: 50px; */
}
.moon{
    width: 40%;
    padding-left: 70px;
    line-height: 2;
}
.smile{
    width: 50%;
    
}
.zip p{
    /* line-height: 30px; */
}
.moon h3{
    font-size: 20px;
}
.coco{
    text-align: center;
}
.come li{
    /* line-height: 30px; */
}
.mama{
    display: flex;
    
}
.sun{
    margin-left: 46%;
    font-size: 20px;
    padding-top: 20px;
}
.vas{
    display: flex;
    padding: 30px;
}
.pan{
    text-align: center;
    font-size: 20px;
}
.pot{
    width: 250px;
    justify-content: center;
    background-color: #007bff;
    color: white;
    height: 50px;
    border: 0px;

}
.tent{
    width: 50%;
    /* line-height: 30px; */
    padding-right: 2%;
    
}
.three{
    width: 50%;
    /* line-height: 30px; */
    padding-right: 2%;
    
}
.bat{
    display: flex;
    padding-left:4%;
    padding-bottom: 20px;
    /* padding-top: 100px; */
}
.troll{
    width: 40%;
    /* line-height: 30px; */
    background-color: white;
    padding: 3%;
    /* border-radius: 10px; */

}
.cat{
    font-size: 25px;
    
}
.dent{
    background-color: #007bff;
    display: flex;
    padding: 5%;

}
.star{
    background-color: #007bff;
    color: white ;
    width: 90%;
    height: 50px;
    border: 0px;
}
.busy{
    background-color: rgb(206, 76, 53);
    width: 30%;
    /* border-radius: 10px; */
    margin-left: 10%;
    color: white;
    padding: 3%;
    font-size: 20px;
}
.lone{
    background-color: rosybrown;
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    color: #f8f9fa ;


}
.off{
    width: 40px;
    height: 40px;
    padding-top: 20px;
    
}
.flex{
    display: flex;  
}

.p{
    color: white;
}
.sign h2{
    color: #f8f9fa;
    font-size: 15px;
    /* padding-bottom: 100px; */
    text-align: center;
    
}
.strong{
    display: flex;
    
}
.dave{
    color: #f8f9fa;
}
.sub{
    width: 200%;
    justify-content: center;
    background-color: #007bff;
    color: white;
    height: 50px;
    border: 0px;
    margin-top: 15px;
}
.last{
    width: 30%;
    margin-left: 20%;
}
.yyy{
    width: 200%;
    justify-content: center;
    background-color: white;
    color: rgb(48, 45, 45);
    height: 50px;
    border: 0px;

}
.soap{
    padding-right: 50px;
}

.mm{
    display: flex;
    justify-content: space-around;
}
.imgsticky{
    position: -webkit-sticky;
    position: sticky;
    bottom: 10%;
    left: 80%; 
}

@media  (max-width: 768px) {

    .go{
        display: flex;
    }
    .we{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    
    }
    .bv{
        display: block;
    }
    .form{
        width: 50%;
        /* margin-left: 3%; */
        margin-top: 4%;
    }
    .prof{
        width: 50%;
        padding: 3%;
    }
    .we a{
        text-decoration: none;
        padding-right: 20px;
    
    }
    .nana{
        margin-left: 7%;
    }
    .to{
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .do{
        width: 400px;
        font-size: xx-large;
    }
    .am{
        text-align: end;
    }
    
    .an{
        display: flex;
        justify-content: space-between;
        
    }
    .ss{
        display: flex;
        /* padding: 50px; */
        background-image: url(./images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        
    }
    
    .fo{
        width: 100%;
        /* height: 280px; */
        padding: 5%;
        /* padding-bottom: 20px; */
        /* margin-left: 100px; */
        margin-right: 3%;
    }
    
    .l{
        height: 40px;
        width: 45%;
        /* margin-right: 15px;
        padding-left: 10px; */
        padding-bottom: 5%;
    }
    .o{
        height: 40px;
        margin-left: 10px;
        /* margin-bottom: 20px;
        padding-left: 10px; */
        width:44%;
        padding-bottom: 5%;
    }
    .v{
        width: 95%;
        height: 40px;
        /* padding-right: 50px;
        margin-bottom: 20px;
        
        padding-left: 10px; */
        padding-bottom: 5%;
    }
    .e{
        width: 95%;
        height: 40px;
        /* padding-right: 50px;
        margin-bottom: 20px;
        padding-left: 10px; */
        padding-bottom: 5%;
    }
    .de{
        width: 97%;
        /* justify-content: center; */
        background-color: #007bff;
        color: white;
        padding: 4%;
        border-style: none;
        /* border: 0px; */
        
    }
    .fo{
        background-color: white; 
        width: 85% ;    
    } 
    .he{
        color: black;
    }
    .rr{
        width: 180px;
        border-radius: 900px;
        margin-top: 30px;
    }
    .jj{
        width: 180px;
        border-radius: 900px;
        margin-top: 30px;
    }
    .mm{
        
        text-align: center;
        
    }
    .ri{
        width: 180px;
        border-radius: 900px;
        margin-top: 30px;
    }
    .lo{
        width: 40%;
        font-size: 20px;
    
    }
    .dd{
        width: 40%;
        font-size: 20px;
    
    }
    .ye{
        width: 40%;
        text-align: center;
        margin-left: 33%;
        font-size: 20px;
    }
    .ee{
        padding: 45%px;
        font-size: 15px;
        
    }
    .xx{
        width: 95%; 
        display: flex;
        justify-content: space-between;
        justify-content: space-around;
        font-size: 20px;
        text-align: center;
        margin-top: 10%;
    }
    .xx div{
        width: 30%;
        /* line-height: 30px; */
        font-size: 15px;
    }
    span{
        color: rgb(243, 53, 53);
    }
    .pp{
        margin-left: 20%;
        font-size: 30px;
        /* width: 1000px;  */
    }
    
    .rd{
        color: white;
        background-color: #007bff;
        height: 50px;
        width: 200px;
        border-radius: 5px;
        border: none;
    }
    .gg{
        justify-content: space-between;
        margin-top: 70px;
        justify-content: space-around;
        padding-bottom: 100px;
        background-color: #f8f9fa;
    }
    .class{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        margin-bottom: px; 
        margin-left: 50%;
        margin-top: 5px;
    
    }
    .moon{
        /* line-height: 30px; */
        
    }
    .vv{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        margin-bottom: 30px; 
        margin-left: 43%;
    
    }
    .vov{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        /* margin-bottom: 30px;  */
        margin-left: 15%;
    }
    .ref{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        /* margin-bottom: 30px;  */
        margin-left: 50%;
    }
    
    .come{
        
         margin-left: 20px; 
    }
    .note{
        width: 50%;
    
        margin-left: 30%;
        /* line-height: 30px; */
        /* padding-bottom: 50px; */
    }
    
    .kk{
        /* width: 700px; */
        /* margin-left: 50px; */
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    .hh{
         text-align: center;
        /* margin-right: 150px;  */
        margin-left: -17%;
    
    }
    
    .cc{
        display: block;
    }
    .mn{
        /* width: 550px;
        line-height: 30px; */
        font-size: 15px;
    }   
    .glass{
        /* padding-left: 28px; */
        width: 87%;
    }
    .stud{
        width: 75%;
        margin-top: 3%;
        margin-left: 8%; 
    }
    
    .tt{
         text-align: center; 
    }
    .ii{
        font-size: 20px;
        text-align: center;
        
    }
    .nn{
        width: 60%;
        margin-left: 22%;
        /* line-height: 30px; */
    }
    .aa{
        /* margin-left: 150px ; */
        width: 85%;
        margin-left: 4%;
        margin-right: 10%;
    }
    .mo{
        color: white;
        background-color: #007bff;
        border-radius: 10px;
        width: 180px;
        border: none;
        height: 40px;
    }
    .main{
        color: white;
        background-color: #007bff;
        border-radius: 10px;
        width: 180px;
        border: none;
        height: 40px;
    
    }
    .ht{
        display: flex;
        justify-content: space-between;
        padding: 4%;
    }
    .oo{
        width: 100%;
    }
    .tj{
               /* width: 420px; */
        box-shadow: 2px 2px white;
        background-color: white;
        padding: 3%;
        /* line-height: 35px; */
        border-radius: 8px;
        font-size: 65%;
        /* position: relative;
        right: 24%; */
        margin-top: 6%;
        max-width: fit-content;
        margin-left: 30%;
    }
    .zip{
        margin-left: 4%;
    }
    .left p{
        /* line-height: 30px; */
    }
    .table{
        background-color:  #f8f9fa;
        /* padding-right: 230px;
        padding-left: 230px;
        padding-top: 40px ;
        padding-bottom: 40px; */
        margin-left: 5%;
    }
    .chair{
        background-color: #007bff;
        color: white;
        margin: 30px;
        margin-left: 15%;
    
        padding-top: 20px;
        padding-bottom: 20px;
        width: 63%;
        padding-right: 4%;
        padding-left: 4%;
        font-size: 20px;
        display: flex;
        /* justify-content: space-between; */
        border-radius: 5px;
    
    }
    .chair p{
        width: 350px;
    }
    .sd{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        margin-bottom: 50px;
        margin-left: 45%;
    }
    .nut{
        color: #007bff ;
        background-color: white;
        border: 0px;
        border-radius: 5px;
        height: 40px;
        width: 200px;
        margin-top: 20px;
    }
    .jk{
        text-align: center;
        /* padding-top: 50px; */
    }
    .orange{
        width: 40%;
        text-align: center;
        margin-left: 33%;
        line-height: 2;
    }
    
    .xox{
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
    .ch{
        width: 78%;
        /* padding-left: 50px; */
        /* margin-left: 15%; */
    }
    .chhh{
        width: 60%;
        margin-left: 11%;
    }
    .ch p{
        /* line-height: 30px; */
    }
    .poo{
        margin-top: 20px;
        padding: 2%;
        
    }
    .yy{
        background-color: #f8f9fa;
        /* padding: 50px; */
        /* margin-left: 3%; */
    }
    .moon{
        width: 85%;
        padding-left: 70px;
    }
    .smile{
        width: 70%;
        margin-left: 17%;
        
    }
    .zip p{
        /* line-height: 30px; */
    }
    .moon h3{
        font-size: 20px;
    }
    .coco{
        text-align: center;
    }
    .come li{
        /* line-height: 30px; */
    }
    .mama{
        display: flex;
        display: block;
        width: 100%;
        /* margin-left: 7%; */
        /* margin-right: 15%;  */
        
    }
    .sun{
        margin-left: 43%;
        font-size: 20px;
        padding-top: 20px;
    }
    .vas{
        /* display: flex; */
        /* padding: 30px; */
        display: block;
        /* width: max-content; */
    }
    .pan{
        text-align: center;
        font-size: 20px;
        margin-left: 8%;
    }
    .pot{
        width: 250px;
        justify-content: center;
        background-color: #007bff;
        color: white;
        height: 50px;
        border: 0px;
    
    }
    .tent{
        width: 50%;
        /* line-height: 30px; */
        padding-right: 2%;
        
    }
    .three{
        width: 50%;
        /* line-height: 30px; */
        padding-right: 2%;
        
    }
    .bat{
        display: flex;
        padding-left:4%;
        padding-bottom: 20px;
        /* padding-top: 100px; */
    }
    .troll{
        width: 40%;
        /* line-height: 30px; */
        background-color: white;
        padding: 3%;
        border-radius: 10px;
    
    }
    .cat{
        font-size: 25px;
        
    }
    .dent{
        background-color: #007bff;
        display: flex;
        padding: 5%;
    
    }
    .star{
        background-color: #007bff;
        color: white ;
        width: 90%;
        height: 50px;
        border: 0px;
    }
    .busy{
        background-color: rgb(206, 76, 53);
        width: 30%;
        border-radius: 10px;
        margin-left: 10%;
        color: white;
        padding: 3%;
        font-size: 20px;
    }
    .lone{
        background-color: rosybrown;
        display: flex;
        justify-content: space-around;
        color:#f8f9fa ;
    
    }
    .off{
        width: 40px;
        height: 40px;
        padding-top: 20px;
        
    }
    .flex{
        display: flex; 
        padding: 3%; 
    }
    
    .p{
        color: white;
    }
    .sign h2{
        color :#f8f9fa ;
        font-size: 15px;
        /* padding-bottom: 100px; */
        text-align: center;
        
    }
    .strong{
        display: flex;
        
    }
    .dave{
        color: #f8f9fa;
    }
    .sub{
        width: 100%;
        justify-content: center;
        background-color: #007bff;
        color: white;
        height: 50px;
        border: 0px;
        margin-top: 15px;
    }
    .last{
        width: 20%;
        margin-left: 15%;
    }
    .yyy{
        width: 100%;
        justify-content: center;
        background-color: white;
        color: rgb(48, 45, 45);
        height: 50px;
        border: 0px;
    
    }
    .soap{
        padding-right: 50px;
    }
    
    .mm{
        display: flex;
        justify-content: space-around;
    }
  
    .imgsticky{
        position: -webkit-sticky;
        position: sticky;
        bottom: 10%;
        left: 80%;


}



@media (max-width: 425px) {

    .go{
        display: flex;
    }
    .we{
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    
    }
    .bv{
        display: block;
    }
    .am{
        text-align: end;
    }
    
    .form{
        width: 80%;
        box-sizing: border-box;
        margin-top: 4%;
        margin-left: 12%;
        height: 74%;
        font-size: 20px;
        
    }
    .prof{
        /* width: 50%;
        padding: 3%; */
        width: 80%;
        padding: 3%;
        margin-left: 7%;
        font-size: 20px;
    }
    .we a{
        text-decoration: none;
        padding-right: 20px;
    
    }
    .to{
        display: block;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
    .do{
        width: 252px;
        font-size: xx-large;
    }
    .an{
        display: block;
        justify-content: space-between;
        
    }
    .ss{
    
        background-image: url(./images/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        display: block;
        
    }
    
    .fo{
        width: 95%;
        /* height: 280px; */
        padding: 1%;
        /* padding-bottom: 20px; */
        /* margin-left: 100px; */
        margin-right: 3%;
        margin-top: 5%;
    }
    
    .l{
        
        height: 45px;
        width: 44%;
        /* margin-right: 15px;
        padding-left: 10px; */
        /* padding-bottom: 5%; */
        box-sizing: border-box;
        margin-bottom: 3%;
    }
    .o{
        height: 45px;
        margin-left: 2px;
        /* margin-bottom: 20px;
        padding-left: 10px; */
        width:45%;
        /* padding-bottom: 5%; */
        box-sizing: border-box;
        margin-bottom: 3%;

    }
    .wall{
        box-sizing: border-box;
        padding-left: 2%;
    }
    .v{
        width: 92%;
        height: 45px;
        /* padding-right: 50px;
        margin-bottom: 20px;
        box-sizing: border-box;
        margin-bottom: 3%;
        padding-left: 10px; */
        /* padding-bottom: 5%; */
        box-sizing: border-box;
        margin-bottom: 3%;

    }
    .e{
        width: 92%;
        height: 45px;
        /* padding-right: 50px;
        margin-bottom: 20px;
        padding-left: 10px; */
        /* padding-bottom: 5%; */
        box-sizing: border-box;
        margin-bottom: 3%;
    }
    .de{
        width: 93%;
        /* justify-content: center; */
        background-color: #007bff;
        color: white;
        padding: 4%;
        border-style: none;
        /* border: 0px; */
        margin-top: 4%;
        
    }
    .fo{
        background-color: white;     
    } 
    .he{
        color: black;
        padding-left: 2%;
    }
    .rr{
        width: 180px;
        border-radius: 900px;
        margin-top: 30px;
    }
    .jj{
        width: 180px;
        border-radius: 900px;
        margin-top: 30px;
    }
    .mm{
        
        text-align: center;
        
    }
    .ri{
        width: 180px;
        border-radius: 900px;
        margin-top: 30px;
    }
    .lo{
        width: 80%;
        text-align: center;
        margin-left: 10%;
        font-size: 20px;
    
    
    }
    .dd{
        width: 80%;
        text-align: center;
        margin-left: 10%;
        font-size: 20px;
        
    
    }
    .ye{
        width: 80%;
        text-align: center;
        margin-left: 10%;
        font-size: 20px;
        
    }
    .ee{
        padding: 45%px;
        font-size: 15px;
        
    }
    .xx{
        /* width: 200%;  */
        display: block;
        justify-content: space-between;
        justify-content: space-around;
        font-size: 20px;
        text-align: center;
        margin-top: 10%;
        margin-left: 5%;
        line-height: 100%;
    }
    .xx div{
        width: 100%;
        /* line-height: 30px; */
        font-size: 15px;
    }
    span{
        color: rgb(243, 53, 53);
    }
    .pp{
        margin-left: 20%;
        font-size: 30px;
        /* width: 1000px;  */
    }
    
    .rd{
        color: white;
        background-color: #007bff;
        height: 50px;
        width: 200px;
        border-radius: 5px;
        border: none;
    }
    .gg{
        justify-content: space-between;
        margin-top: 70px;
        justify-content: space-around;
        padding-bottom: 100px;
        background-color: #f8f9fa;
    }
    .class{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        margin-bottom: px; 
        margin-left: 50%;
        margin-top: 5px;
    
    }
    .moon{
        /* line-height: 30px; */
        
    }
    .vv{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        margin-bottom: 30px; 
        margin-left: 43%;
    
    }
    .vov{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        /* margin-bottom: 30px;  */
        margin-left: 25%;
    }
    .ref{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        /* margin-bottom: 30px;  */
        margin-left: 48%;
    }
    
    .come{
        
         margin-left: 15px; 
    }
    .note{
        
        width: 80%;
        margin-left: 26%;
        line-height: 20px;
    
        margin-left: 15%;
        /* line-height: 30px; */
        /* padding-bottom: 50px; */
    }
    
    .kk{
        /* width: 700px; */
        margin-left: 25px; 
        width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    .hh{
        /* text-align: center;
        margin-right: 150px;  */
    
    }
    
    .cc{
        display: block;
        /* margin-left: 10%; */
        width: 100%;
        line-height: 36%;
    }
    .mn{
        /* width: 550px;
        line-height: 30px; */
        font-size: 15px;
    }   
    .glass{
        /* padding-left: 10px; */
        width: -1%;
    }
    .stud{
        width: 100%;
        margin-top: 3%;
        margin-left: -14%;
    }
    
    .tt{
         text-align: center; 
    }
    .ii{
        font-size: 20px;
        text-align: center;
        
    }
    .nn{
        width: 60%;
        margin-left: 22%;
        /* line-height: 30px; */
    }
    .aa{
        /* margin-left: 150px ; */
        width: 87%;
    }
    .mo{
        color: white;
        background-color: #007bff;
        border-radius: 10px;
        width: 260px;
        border: none;
        height: 40px;
    }
    .main{
        color: white;
        background-color: #007bff;
        border-radius: 10px;
        width: 180px;
        border: none;
        height: 40px;
    
    }
    .ht{
        display: block;
        justify-content: space-between;
        padding: 4%;
        text-align: center;
    }
    .oo{
        /* width: 100%; */
        max-width: 132%;
        max-height: 100%;
        object-fit: contain;
        margin-left: 3%;
    }
    .tj{
               /* width: 420px; */
        box-shadow: 3px 3px 2px 2px rgb(236 229 229);
        background-color: white;
        padding: 1%;
        line-height: 30px;
        border-radius: 10px;
        font-size: 100%;
        /* position: relative;
        right: 16%; */
        margin-top: 6%;
        max-width: 95%; 
        height: 30%; 
        /* margin-left: 30%; */

        /* line-height: 30px;
    border-radius: 10px;
    font-size: 100%;
    margin-top: 6%;
    max-width: 95%;
    height: 30%; */
         
    }
    .zip{
        margin-left: 4%;
        text-align: center;
    }
    .left p{
        /* line-height: 30px; */
    }
    .table{
        background-color:  #f8f9fa;
        /* padding-right: 230px;
        padding-left: 230px;
        padding-top: 40px ;
        padding-bottom: 40px; */
    }
    .chair{
        background-color: #007bff;
        color: white;
        margin: 30px;
        margin-left: 8%;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
        /* padding-right: 4%;
        padding-left: 4%; */
        font-size: 20px;
        display: block;
        /* justify-content: space-between; */
        border-radius: 5px;
    
    }
    .chair p{
        width: 88%;
        text-align: center;
    }
    .sd{
        width: 50px;
        height: 7px;
        border-radius: 0px;
        background-color: #007bff;
        border: none;
        margin-bottom: 50px;
        margin-left: 45%;
    }
    .nut{
        color: #007bff ;
        background-color: white;
        border: 0px;
        border-radius: 5px;
        height: 40px;
        width: 200px;
        margin-top: 20px;
        margin-left: 10%;
    }
    .jk{
        text-align: center;
        /* padding-top: 50px; */
    }
    .orange{
        width: 60%;
        text-align: center;
        margin-left: 25%;
    }
    
    .xox{
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }
    .ch{
        width: 95%;
         padding-left: 50px;
         padding: 7%;
    }
    

    .chhh{
        
        width: 70%;
        margin-left: 18%;
    }
    .ch p{
        /* line-height: 30px; */
    }
    .poo{
        margin-top: 20px;
        padding: 6%;
        margin-right: 12%;
        
    }
    .yy{
        background-color: #f8f9fa;
        /* padding: 50px;
        margin-left: 10%; */
    }
    .moon{
        width: 90%;
        padding-left: 6%;
        
        line-height: 2;
        /* margin-left: 3%; */
    }
    .smile{
        width: 86%;
        /* margin-left: 12%; */
        
    }
    .zip p{
        /* line-height: 30px; */
    }
    .moon h3{
        font-size: 20px;
    }
    .coco{
        text-align: center;
    }
    .come li{
        /* line-height: 30px; */
    }
    .mama{
        display: block;
        
    }
    .sun{
        margin-left: 35%;
        font-size: 20px;
        padding-top: 20px;
    }
    .vas{
        display: block;
        /* padding: 30px; */
    }
    .pan{
        text-align: center;
        font-size: 20px;
    }
    .pot{
        width: 250px;
        justify-content: center;
        background-color: #007bff;
        color: white;
        height: 50px;
        border: 0px;
    
    }
    .tent{
        width: 100%;
        /* line-height: 30px; */
        padding-right: 2%;
        text-align: center;
        
    }
    .three{
        width: 100%;
        /* line-height: 30px; */
        padding-right: 2%;
        
    }
    .bat{
        display: block;
        /* padding: 4%; */
        padding-bottom: 20px;
        line-height: 2;
        /* padding-top: 100px; */
    }
    .troll{
        width: 70%;
        line-height: 30px;
        background-color: white;
        padding: 10%;
        /* border-radius: 10px; */
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 5%;
        margin-right: 11%;

        /* width: 70%;
    line-height: 30px;
    background-color: white;
    padding: 10%;
    /* border-radius: 10px; */
    /* margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 11%; */
     
    }
    .cat{
        font-size: 25px;
        
    }
    .dent{
        background-color: #007bff;
        /* display: flex; */
        padding: 1%;
        display: block;
    
    }
    .star{
        background-color: #007bff;
        color: white ;
        width: 90%;
        height: 50px;
        border: 0px;
    }
    .busy{
        background-color: rgb(206, 76, 53);
        width: 70%;
        /* border-radius: 10px; */
        margin-left: 10%;
        margin-right: 10%;
        color: white;
        padding: 3%;
        font-size: 20px;
    }
    .lone{
        background-color: rosybrown;
        display: block;
        justify-content: space-around;
        color: #f8f9fa ;
    
    }
    .off{
        width: 40px;
        height: 40px;
        padding-top: 22px;
        padding-left: 14%;
        
    }
    .flex{
        /* display: flex;   */
        /* display: block; */
    }
    
    .p{
        color: white;
    }
    .sign h2{
        color: #f8f9fa ;
        font-size: 15px;
        /* padding-bottom: 100px; */
        text-align: center;
        
    }
    .strong{
        display: flex;
        
    }
    .dave{
        color:#f8f9fa ;
        
        
    }
    .sub{
        width: 92%;
        justify-content: center;
        background-color: #007bff;
        color: white;
        height: 50px;
        border: 0px;
        margin-top: 8px;
        margin-left: 4%;
    }
    .last{
        width: 20%;
        margin-left: 40%;
        /* margin-right: 11%; */
        margin-top: 10%;
    }
    .sign{
        /* padding-top: 10%;
        padding-left: 2%; */
    }
    .yyy{
        margin-left: 4%;
        width: 91%;
        justify-content: center;
        background-color: white;
        color: rgb(48, 45, 45);
        height: 50px;
        border: 0px;
    
    }
    .soap{
        padding-right: 50px;
    }
    
    .mm{
        /* display: flex; */
        /* justify-content: space-around; */
        
        display: block;
        /* width: 180%;
        margin-left: 15%; */
    }
    .imgsticky{
        position: -webkit-sticky;
        position: sticky;
        bottom: 10%;
        left: 80%;
}





















